/*** FONTE PERSONALIZADA ***/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


/*** RESET DAS PROPRIEDADES E VALORES ***/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    background-color: #ebebeb;
    height: 1560px;
}

/*** CABEÇALHO ***/

header{
    height: 250px;
    background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
}

/*** ESTILOS DE FONTE E TAMANHO DOS TEXTOS DA HEADER***/

.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    width: 970px;
    height: 90px;
    color: #ffffff;
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    line-height: 30px;
}

.caixa-alta{
    display: flex;
    justify-content:center;
    align-items: center;
}

/*** POSICIONAMENTO E ESTILOS DA BARRA DE PESQUISA ***/

.barra-pesquisa{
    display: flex;
    max-width: 50vw;
    margin: 0 auto; 
    background: rgba(255, 255, 255, 0.2);
    opacity: .5;
    border-radius: 5px;
    gap: 20px;
    padding: 0 0 0 15px;
}

label{
    width: 100%;
}

input{
    width: 100%;
    height: 65px;
    color: black;
    font-size: 26px ;
    background: rgba(255, 255, 255, 0.2);
    background-color: transparent;
    border: none;
    color: #fff;
}

input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

input::placeholder{
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
    color: #fff;
    opacity: .5;
}


/*** CONTEUDO PRINCIPAL ***/

main{
    height: 500px;
}


/*** SEÇÃO 01 NO CÓDIGO ***/

section{
    width: 900px;
    height: 210px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    font-family: 'Lexend Deca';
}

h1{
    font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;
color: #1A202C;
}

.texto-section{
    font-size: 18px;
    font-weight: 400;
    color: #717171;
}

.pec{
    display: flex;
    justify-content: space-between;
}

img{
    cursor: pointer;
}